<div class=" w-screen h-screen flex justify-center items-center">
    <div class="max-[1500px]:h-[90%] max-[1000px]:w-[100%] w-[80%] flex h-[80%] ">
        <div class="max-[1500px]:hidden w-[70%] bg-login">
        </div>
        <div class="max-[800px]:p-0 w-[110%] p-[1%] flex justify-center ">
            <div class="w-[80%] flex-row justify-around ">
                <div class="max-[800px]:pt-2 max-[800px]:pb-2 flex items-center pt-5 pb-5 border-t-2 border-b-2 border-gray-300">
                    <div class="w-[32px] mr-3  h-[32px] bg-[url('/assets/Images/Vector.png')]"></div>
                    <div routerLink="/" class="hover:cursor-pointer font-font2 text-2xl">UrbanIndie</div>
                </div>
                <div class="mt-5 justify-around">
                    <div class="max-[800px]:pt-0 max-[800px]:pb-0 pt-5 pb-5 font-font1 leading-3 font-medium">
                        <p class="max-[800px]:text-[18px] text-3xl">Sign up to create a new UrbanIndie account</p>
                    </div>
                </div>
                <div>
                    <div class="font-font2 leading-3 ">
                        <p class="max-[1000px]:text-[15px] max-[1500px]:text-xl text-2xl text-gray-600">If you already have an account, please  <span
                               routerLink="/login" class="hover:cursor-pointer hover:underline  text-black font-semibold">Log in </span> . </p>
                    </div>
                </div>
                <div class="mt-5 justify-around">

                    <form class="w-[100%]">
                        <div class="mt-5 mb-6">
                            <input type="email" i   d="email"
                                class="max-[800px]:text-[16px] bg-gray-50 border font-font2 text-[1.2rem] border-gray-300 text-gray-900  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Full Name" required>
                        </div>
                        <div class="mt-5 mb-6">
                            <input type="email" id="email"
                                class="max-[800px]:text-[16px] bg-gray-50 border font-font2 text-[1.2rem] border-gray-300 text-gray-900  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Phone Number" required>
                        </div>
                        <div class="mt-5 mb-6">
                            <input type="password" id="password" flex
                                class="max-[800px]:text-[16px] bg-gray-50 border font-font2 text-[1.2rem] border-gray-300 text-gray-900  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Code" required>
                        </div>
                        <button type="submit"
                            class="max-[800px]:mt-0 mt-5 text-white bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium  text-sm w-full  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign Up</button>
                    </form>
                     
                </div>
                <div class="max-[800px]:mt-3 mt-6 flex justify-center items-center">
                    <p>Resend code in <span class="text-red-600">01:23</span></p>
                </div>
                
                <div class="mt-6 flex justify-center items-center">
                    <div class="max-[800px]:w-[30%] w-[35%] h-0 border-[1px] border-gray-600"></div>
                    <div class="max-[800px]:w-[50%] w-[20%] flex justify-center ml-5 mr-5 text-gray-500 text-1xl">or, SignUp with</div>
                    <div class="max-[800px]:w-[30%] w-[35%] h-0 border-[1px] border-gray-600"></div>
                </div>

                <div class="mt-6 flex justify-between items-center">
                    <div class="w-[50%] flex justify-center">
                        <button routerLink="/" type="button" class="justify-center items-center flex max-[800px]:w-[90%] w-[80%] py-2.5 px-5 mr-2 mb-2 text-[1.0rem] font-medium text-gray-900 focus:outline-none bg-gray-200 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.6 16.6C10.8 16.9 9.9 17 9 17C4.6 17 1 13.4 1 9C1 4.6 4.6 1 9 1C13.4 1 17 4.6 17 9C17 9.5 17 9.2 17 9.5C16.5 13.5 13.6388 13.6433 12.5 12.2C11.6148 11.0781 12.1 9.5 13.2 6.3M10.0539 5.33156C11.7871 6.05394 12.4859 8.33383 11.6148 10.4238C10.7437 12.5139 8.63255 13.6225 6.89937 12.9002C5.16619 12.1778 4.46734 9.89789 5.33844 7.80788C6.20954 5.71787 8.32073 4.60918 10.0539 5.33156Z" stroke="black" stroke-width="1.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                            &nbsp;&nbsp;E-mail</button>
                    </div>
                    <div class="w-[50%] flex justify-center">
                        <button type="button" class="justify-center items-center flex max-[800px]:w-[90%] w-[80%] py-2.5 px-5 mr-2 mb-2 text-[1.0rem] font-medium text-gray-900 focus:outline-none bg-gray-200 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.8055 10.0415H21V10H12V14H17.6515C16.827 16.3285 14.6115 18 12 18C8.6865 18 6 15.3135 6 12C6 8.6865 8.6865 6 12 6C13.5295 6 14.921 6.577 15.9805 7.5195L18.809 4.691C17.023 3.0265 14.634 2 12 2C6.4775 2 2 6.4775 2 12C2 17.5225 6.4775 22 12 22C17.5225 22 22 17.5225 22 12C22 11.3295 21.931 10.675 21.8055 10.0415Z" fill="#FFC107"/>
                                <path d="M3.15283 7.3455L6.43833 9.755C7.32733 7.554 9.48033 6 11.9998 6C13.5293 6 14.9208 6.577 15.9803 7.5195L18.8088 4.691C17.0228 3.0265 14.6338 2 11.9998 2C8.15883 2 4.82783 4.1685 3.15283 7.3455Z" fill="#FF3D00"/>
                                <path d="M12.0002 22.0003C14.5832 22.0003 16.9302 21.0118 18.7047 19.4043L15.6097 16.7853C14.5719 17.5745 13.3039 18.0014 12.0002 18.0003C9.39916 18.0003 7.19066 16.3418 6.35866 14.0273L3.09766 16.5398C4.75266 19.7783 8.11366 22.0003 12.0002 22.0003Z" fill="#4CAF50"/>
                                <path d="M21.8055 10.0415H21V10H12V14H17.6515C17.2571 15.1082 16.5467 16.0766 15.608 16.7855L15.6095 16.7845L18.7045 19.4035C18.4855 19.6025 22 17 22 12C22 11.3295 21.931 10.675 21.8055 10.0415Z" fill="#1976D2"/>
                                </svg>
                                
                                &nbsp;
                            Google</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>