<div class="w-[100%] py-5 px-5">
    <h1>Welcome to the UrbanIndie Help Centre</h1>
    <p>Your one-stop solution for resolving a wide range of issues swiftly, so you can get back to your online shopping
        without any disruptions. Our Help Centre offers comprehensive support and information on a variety of topics,
        ensuring you have all the guidance you need.</p>

    <h2>What You'll Find</h2>
    <ul>
        <li><strong>Order Assistance</strong>: Learn about order tracking, delivery date adjustments, and how to get
            help with returns and refunds.</li>
        <li><strong>UrbanIndie Plus</strong>: Discover more about our premium service.</li>
        <li><strong>Payments</strong>: Find information on various payment methods and related questions.</li>
        <li><strong>Shopping Tips</strong>: Get tips and advice for an enhanced shopping experience.</li>
    </ul>
    <br>
    <h2>User-Friendly Filters</h2>
    <p>To make your search for answers even easier, we've included user-friendly filters on the left-hand side. Quickly
        and efficiently find solutions to your questions.</p>

    <h2>Professional Support</h2>
    <p>If you need personalized assistance, our Help Centre provides access to our dedicated support team. Our support
        executives are here to ensure you have a positive and enjoyable shopping experience.</p>

    <h2>Share the Support</h2>
    <p>We encourage you to share this valuable resource with your loved ones so that they too can find effective
        solutions to their concerns.</p>

    <h2>Shop with Confidence</h2>
    <p>Once you've had all your questions addressed, you can confidently browse our extensive selection and conveniently
        shop for all your essentials in one place. Don't forget to explore our exciting festive sales to enjoy
        incredible online deals.</p>
    <div class="w-[100%] mt-5">
        <div class="text-[20px] font-medium">Call us at : <span class="text-[25px]">000 000 000</span></div>
    </div>
</div>